<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}
    <link href="https://fonts.googleapis.com/css?family=Caveat|Lato:900|Playfair+Display:700&display=swap" rel="stylesheet">
	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>

		{{> story/intro }}
		{{> story/article }}
		{{!-- delete guide and put your html here --}}
		{{> base/guide }}

	</main>

	{{> story/footer }}

    <script src="https://d3js.org/d3.v5.min.js"></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>
