footer
  text-align center
  & a:hover
    color $fp_red
    text-decoration none
  .footNote
    text-align left
    set-type-size('xx-small')
    +mq('bp-5')
      set-type-size('x-small')

  .footer_byline
    max-width $column-width
    margin auto
    padding-left 0
    padding-right 0
.author-bio
  margin 0rem 0
  font-size small

.black_footer
  min-height 50px
  background-color black
  width: 100%
  & .logo
    padding 0.6rem 0px 0.6rem 0px
    & .njam_logo
      height 90%
      width auto
      margin auto

.credits
  margin-bottom 0.5rem
  background-color $fp_blue
  color $fp_yellow
  font-family "Alegreya Sans SC", sans-serif
