<section id='graphic'>
    <h2 class='prose__hed tk-canela'>
        <strong>Graphic style</strong>
    </h2>
    <p>Below is a dummy graphic with a lot of typical components and their default style.</p>
    <div class='example'>
        <div class='graphic'>
            <h3 class='graphic__hed'>Title goes here</h3>
            <h5 class='graphic__dek'>Optional description of graphic goes here.</h5>
            <ul class='graphic__key'>
                <li class='x-small'><strong>These</strong></li>
                <li class='x-small'><strong>Are</strong></li>
                <li class='x-small'><strong>Keys</strong></li>
            </ul>
            <div class='graphic__chart'>
            </div>
            <div class="graphic__footnote">
                Source: XXX, XXX, XXX
                <span class="graphic__byline">
                    BY XXX XXX | NJ ADVANCE MEDIA FOR NJ.COM
                </span>
            </div>
</section>
